.dropdownLayout {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: right;
}
.dropdownLow {
    position: absolute;
    top: 110px;
    text-align: start;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    background-color: #ffffff;
    width: 130px;
    padding: 10px;
}
.dropdown {
    cursor: pointer;
    color: #000;
    padding: 15px 0px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    &:hover {
        color: #1d5d9b;
    }
    &:nth-child(4) {
        border-top: 1px #e4e4e4 solid;
        border-bottom: 1px #e4e4e4 solid;
    }
}
.alarmLayout {
    position: absolute;
    top: 110px;
    text-align: start;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    background-color: #ffffff;
    width: 250px;
    padding: 20px;
    min-height: 150px;
    .alarmTitle {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        margin-bottom: 20px;
        img {
            margin-right: 5px;
            position: relative;
            top: 2px;
            width: 18px;
            height: 20px;
        }
    }
    .alarmLow {
        width: 85%;
        padding: 15px;
        margin: 0 auto;
        border: 1px solid #dbdbdb;
        &:hover {
            background-color: #f2f2f2;
        }

        .alarmText {
            display: flex;
            .text {
                color: #000;
                font-size: 14px;
                font-weight: 300;
            }
            img {
                position: relative;
                left: 6px;
                bottom: 6px;
                cursor: pointer;
                width: 18px;
                height: 18px;
            }
        }
    }
}
