// color

$color-blue: rgba(#1d5d9b, 80%);
$color-sky-blue: #75c2f6;
$color-yellow: #f4d160;
$color-light-yellow: #fbeeac;

$color-placeholder: #6e6e6e;
$color-modal-background: rgba(#000000, 40%);

//gray color

$color-gray-000: #fafafa;
$color-gray-100: #f2f2f2;
$color-gray-200: #dbdbdb;
$color-gray-300: #c7c7c7;
$color-gray-400: #a6a6a6;
$color-gray-500: #878787;
$color-gray-600: #6e6e6e;
$color-gray-700: #474747;
$color-gray-800: #333333;
$color-gray-900: #292929;

//shadow

$common-sideBar-shadow: 2px 0 2px 0 rgba(#000000, 12%);

$header-shadow: 0 0 2px 0 rgba(#000000, 10%);
$write-input-shadow: 0 0 2px 0 rgba(#000000, 25%);
$mypage-card-shadow: 0 0 1px 0 rgba(#000000, 25%);

$main-card-shadow: 0 0 3px 0 rgba(#000000, 30%);
$main-card-tag-shadow: 0 0 2px 0 rgba(#000000, 25%);

$search-bar-shadow: 0 0 3px 0 rgba(#000000, 40%);
$search-bar-active-shadow: 0 0 10px 0 rgba(#000000, 25%);
$search-select-shadow: 0 0 10px 0 rgba(#000000, 25%);

$chat-shadow: 0 0 2px 0 rgba(#000000, 30%);
$chat-input-shadow: 0 0 5px 0 rgba(#000000, 10%);
