@mixin searchTagStyles($width) {
    display: flex;
    // width: $width;
    color: #6e6e6e;
    height: 45px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    display: flex;
    justify-content: center;
}
@mixin SearchTagSpan {
    width: 16px;
    height: 16px;
    color: rgba(0, 0, 0, 0.2);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}
@mixin userToolIcon($width, $height, $top) {
    position: relative;
    top: $top;
    width: $width;
    height: $height;
    cursor: pointer;
}

.headers {
    width: 1440px;
    height: 160px;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    .headLayout {
        width: 80%;
        margin: auto;
        display: flex;
        .headersLogo {
            cursor: pointer;
            width: 20%;
            img {
                width: 46px;
                height: 46px;
                flex-shrink: 0;
            }
            span {
                position: relative;
                top: -10px;
                margin-left: 5px;
                color: #1d5d9b;
                font-family: Inter;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        .searchLayout {
            width: 60%;
            flex-shrink: 0;
            .search {
                width: 515px;
                height: 55px;
                width: 80%;
                margin: 0 auto;
                border-radius: 36px;
                background: #fff;
                padding: 5px 5px 0px 5px;
                box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
                display: flex;
                .stick {
                    @include SearchTagSpan;
                }
                .region {
                    @include searchTagStyles(15%);
                    cursor: pointer;
                    // width: 15%;
                    text-align: center;
                    flex: 1;
                    // padding: 0 10px 0 30px;
                    &.actives {
                        display: flex;
                        justify-content: center;
                        // padding: 0 10px;
                        flex: 1;
                        // margin-right: 10px;
                        border-radius: 36px;
                        background: #fff;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
                    }
                }
                .dayAndTime {
                    flex: 1;
                    cursor: pointer;
                    @include searchTagStyles(25%);
                    // padding: 0 10px 0 0px;
                    // width: 23%;
                    &.actives {
                        display: flex;
                        justify-content: center;
                        // padding: 0 10px;
                        flex: 1;
                        margin-right: 10px;
                        border-radius: 36px;
                        background: #fff;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
                    }
                }
                .searchInp {
                    flex: 2;
                    width: 50%;
                    color: #6e6e6e;
                    height: 45px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    padding-top: 3px;
                }
                .searchIconBtn {
                    padding: 8px 12px;
                    cursor: pointer;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        .userTool {
            width: 20%;
            text-align: right;

            .memu {
                @include userToolIcon(28px, 28px, 10px);
            }
            .alarm {
                @include userToolIcon(25.18px, 28.808px, 10px);
                padding: 0 20px;
            }
            .userIcon {
                @include userToolIcon(36px, 36px, 13px);
            }
        }
    }
}
