.layout {
    position: absolute;
    left: 450px;
    top: 120px;
    z-index: 1000;
    width: 570px;
    height: 250px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
    .city {
        border-right: 1px #dcdcdc solid;
        width: 30%;
        overflow: auto;
        .cityLow {
            padding: 23.3px;
            &:hover {
                cursor: pointer;
                background-color: #ececec;
            }
        }
    }
    .local {
        width: 70%;
        display: flex;
        justify-items: flex-start;
        flex-wrap: wrap;
        overflow: auto;
        .localLayout {
            text-align: start;
            padding: 29.5px 29.5px;
            border-bottom: 1px #dcdcdc solid;
            height: 50px;
            width: 50%;
            font-weight: 400;

            span {
                position: relative;
                top: -8px;
            }
            &:nth-child(odd) {
                border-right: 1px #dcdcdc solid;
            }
            &:hover {
                cursor: pointer;
                background-color: #ececec;
            }
        }
    }
}
