* {
  font-family: Pretendard, "Noto Sans KR", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
textarea {
  margin: 0;
  padding: 0;
  background-color: inherit;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

.common-input-wrapper {
  width: 100%;
  height: 68px;
  border: 1px solid rgba(29, 93, 155, 0.8);
  border-radius: 16px;
  transition: 0.3s;
  overflow: hidden;
}
.common-input-wrapper:has(.common-input:focus) {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.common-input-wrapper .common-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 32px;
  width: inherit;
  height: inherit;
  font-size: 16px;
  color: #292929;
  box-sizing: border-box;
  overflow: hidden;
}
.common-input-wrapper .common-input::placeholder {
  color: #6e6e6e;
}
.common-input-wrapper .common-input:disabled {
  background-color: #f2f2f2;
}

.common-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.common-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border-radius: 16px;
  background-color: rgba(29, 93, 155, 0.8);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.common-button:active, .common-button:hover {
  transform: scale(1.03);
}

.signin-form .common-button {
  padding: 18px 56px;
  font-size: 22px;
  border-radius: 12px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
}
.modal-background .modal-container {
  position: fixed;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
}
.modal-background .modal-container .modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 110px;
  width: 100%;
  height: 100%;
}
.modal-background .modal-container .modal-wrapper .modal-contents {
  margin-top: 100px;
  width: inherit;
  text-align: center;
  font-size: 20px;
}
.modal-background .modal-container .modal-wrapper .modal-confirm-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border-radius: 16px;
  background-color: rgba(29, 93, 155, 0.8);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  padding: 12px 28px;
  width: 50%;
  height: 48px;
  border-radius: 12px;
}
.modal-background .modal-container .modal-wrapper .modal-confirm-button:active, .modal-background .modal-container .modal-wrapper .modal-confirm-button:hover {
  transform: scale(1.03);
}

.code-confirm-message {
  display: block;
  width: inherit;
  height: 15px;
  font-size: 15px;
  color: #000000;
}
.code-confirm-message.success {
  color: #1d5d9b;
}
.code-confirm-message.fail {
  color: rgb(255, 73, 73);
}

.slick-slider {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  z-index: 0;
}

.slick-arrow {
  padding: 4px 6px;
  background-color: transparent;
  color: gray;
  border-radius: 3px;
  cursor: pointer;
}

.slick-prev:before {
  color: gray;
  position: absolute;
  top: -2px;
}

.slick-next:before {
  color: gray;
  position: absolute;
  top: -2px;
  right: 5px;
}

.silderLayout {
  width: 95%;
  margin: 40px auto 20px auto;
  z-index: 0;
}
.silderLayout .silderBox {
  width: 16%;
  cursor: pointer;
  text-align: center;
}
.silderLayout .silderBox img {
  width: 50%;
  margin: 5px auto;
}

.paginationNev {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

.paginationButton {
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
  background: #fff;
  color: #333;
  font-size: 1rem;
}
.paginationButton:hover {
  background: #cdc6ee;
  cursor: pointer;
  transform: translateY(-2px);
}
.paginationButton[disabled] {
  background: grey;
  cursor: revert;
  transform: revert;
}
.paginationButton[aria-current] {
  background: #457cc7;
  color: #fff;
  font-weight: bold;
  cursor: revert;
  transform: revert;
}

.dropdownLayout {
  width: 100%;
  height: auto;
  z-index: 100;
  display: flex;
  justify-content: right;
}

.dropdownLow {
  position: absolute;
  z-index: 100;
  top: 110px;
  text-align: start;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  background-color: #ffffff;
  width: 130px;
  padding: 10px;
}

.dropdown {
  cursor: pointer;
  color: #000;
  padding: 15px 0px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.dropdown:hover {
  color: #1d5d9b;
}
.dropdown:nth-child(4) {
  border-top: 1px #e4e4e4 solid;
  border-bottom: 1px #e4e4e4 solid;
}

.alarmLayout {
  position: absolute;
  top: 110px;
  text-align: start;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  background-color: #ffffff;
  width: 250px;
  padding: 20px;
  min-height: 150px;
}
.alarmLayout .alarmTitle {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 20px;
}
.alarmLayout .alarmTitle img {
  margin-right: 5px;
  position: relative;
  top: 2px;
  width: 18px;
  height: 20px;
}
.alarmLayout .alarmLow {
  width: 85%;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
}
.alarmLayout .alarmLow:hover {
  background-color: #f2f2f2;
}
.alarmLayout .alarmLow .alarmText {
  display: flex;
}
.alarmLayout .alarmLow .alarmText .text {
  color: #000;
  font-size: 14px;
  font-weight: 300;
}
.alarmLayout .alarmLow .alarmText img {
  position: relative;
  left: 6px;
  bottom: 6px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.headers {
  width: 100%;
  height: 160px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.headers .headLayout {
  width: 80%;
  margin: auto;
  display: flex;
}
.headers .headLayout .headersLogo {
  cursor: pointer;
  width: 20%;
}
.headers .headLayout .headersLogo img {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
}
.headers .headLayout .headersLogo span {
  position: relative;
  top: -10px;
  margin-left: 5px;
  color: #1d5d9b;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.headers .headLayout .searchLayout {
  width: 60%;
  flex-shrink: 0;
}
.headers .headLayout .searchLayout .search {
  width: 515px;
  height: 55px;
  width: 80%;
  margin: 0 auto;
  border-radius: 36px;
  background: #fff;
  padding: 5px 5px 0px 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
  display: flex;
}
.headers .headLayout .searchLayout .search .stick {
  width: 16px;
  height: 16px;
  color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
.headers .headLayout .searchLayout .search .region {
  display: flex;
  color: #6e6e6e;
  height: 45px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  flex: 1;
}
.headers .headLayout .searchLayout .search .region.actives {
  display: flex;
  justify-content: center;
  flex: 1;
  border-radius: 36px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.headers .headLayout .searchLayout .search .dayAndTime {
  flex: 1;
  cursor: pointer;
  display: flex;
  color: #6e6e6e;
  height: 45px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  display: flex;
  justify-content: center;
}
.headers .headLayout .searchLayout .search .dayAndTime.actives {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-right: 10px;
  border-radius: 36px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.headers .headLayout .searchLayout .search .searchInp {
  flex: 2;
  width: 50%;
  color: #6e6e6e;
  height: 45px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-top: 3px;
}
.headers .headLayout .searchLayout .search .searchIconBtn {
  padding: 8px 12px;
  cursor: pointer;
}
.headers .headLayout .searchLayout .search .searchIconBtn img {
  width: 30px;
  height: 30px;
}
.headers .headLayout .userTool {
  width: 20%;
  text-align: right;
}
.headers .headLayout .userTool .memu {
  position: relative;
  top: 10px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.headers .headLayout .userTool .alarm {
  position: relative;
  top: 10px;
  width: 25.18px;
  height: 28.808px;
  cursor: pointer;
  right: 10px;
}
.headers .headLayout .userTool .userIcon {
  position: relative;
  top: 13px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.layout {
  position: absolute;
  left: 450px;
  top: 120px;
  z-index: 1000;
  width: 570px;
  height: 250px;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
}
.layout .city {
  border-right: 1px #dcdcdc solid;
  width: 30%;
  overflow: auto;
}
.layout .city .cityLow {
  padding: 23.3px;
}
.layout .city .cityLow:hover {
  cursor: pointer;
  background-color: #ececec;
}
.layout .local {
  width: 70%;
  display: flex;
  justify-items: flex-start;
}
.layout .local .localLayout {
  text-align: start;
  padding: 29.5px 29.5px;
  border-bottom: 1px #dcdcdc solid;
  height: 50px;
  width: 50%;
  font-weight: 400;
}
.layout .local .localLayout span {
  position: relative;
  top: -8px;
}
.layout .local .localLayout:nth-child(odd) {
  border-right: 1px #dcdcdc solid;
}
.layout .local .localLayout:hover {
  cursor: pointer;
  background-color: #ececec;
}

.localTitleLayout {
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  background-color: #ffffff;
  position: absolute;
  left: 580px;
  z-index: 100;
  top: 120px;
  width: 360px;
  height: 250px;
  padding: 30px;
}
.localTitleLayout .titleName {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.localTitleLayout .dayLayout {
  display: flex;
  border-radius: 8px;
  height: 30px;
  width: 100%;
  border: 1px solid #1d5d9d;
  overflow: hidden;
  margin-bottom: 10px;
}
.localTitleLayout .day {
  width: 33.33%;
  text-align: center;
  line-height: 29px;
  color: #6e6e6e;
  cursor: pointer;
}
.localTitleLayout .day:nth-child(even) {
  border-right: 1px #1d5d9d solid;
  border-left: 1px #1d5d9d solid;
}
.localTitleLayout .day:hover {
  background-color: #1d5d9d;
  color: #ffffff;
}
.localTitleLayout .onDay {
  width: 33.33%;
  text-align: center;
  line-height: 29px;
  color: #6e6e6e;
  cursor: pointer;
  background: #1d5d9b;
  color: #ffffff;
}
.localTitleLayout .onDay:nth-child(even) {
  border-right: 1px #1d5d9d solid;
  border-left: 1px #1d5d9d solid;
}
.localTitleLayout .onDay:hover {
  background-color: #1d5d9d;
  color: #ffffff;
}

.footer {
  width: 100%;
  border-top: 1px solid #dadce0;
}

.footerLayout {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  flex-direction: column;
  margin: 10px auto;
  padding-top: 10px;
  width: 80%;
}
.footerLayout .footerContent {
  margin-left: 10px;
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  justify-content: flex-start;
  width: 100%;
}
.footerLayout .footerContent .footerTilte {
  box-sizing: border-box;
  min-width: 0;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
  margin-left: 20px;
  color: #828282;
  font-weight: bold;
  padding: 10px 0;
}
.footerLayout .footerMain {
  margin: 0;
  min-width: 0;
  color: #999999;
  font-size: 16px;
  font-weight: 500;
  margin: 20px 20px 5px 20px;
}
.footerLayout .footerEtc {
  margin: 0;
  min-width: 0;
  color: #999999;
  font-size: 16px;
  font-weight: 500;
  margin: 20px 20px 5px 20px;
}

.signin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-wrapper .signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin: 100px 0;
}
.signin-wrapper .signin-form .signin-form-title {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
}
.signin-wrapper .signin-form .signin-form-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 54px 0 40px 0;
  width: inherit;
}
.signin-wrapper .signin-form .signin-form-input-area .signin-form-regex {
  display: block;
  width: inherit;
  height: 15px;
  font-size: 15px;
  color: rgb(255, 73, 73);
}
.signin-wrapper .signin-form .signin-form-button-area {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: inherit;
}
.signin-wrapper .signin-form .signin-form-button-area .signin-form-kakao-button {
  height: 68px;
  border-radius: 12px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
}
.signin-wrapper .signin-form .signin-form-button-area .signin-form-kakao-button:active {
  transform: scale(1.03);
}
.signin-wrapper .signin-form .signin-form-sub-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
  width: 100%;
}
.signin-wrapper .signin-form .signin-form-sub-area .signin-form-sub-content {
  font-size: 18px;
  color: #878787;
  cursor: pointer;
}
.signin-wrapper .signin-form .signin-form-sub-area .signin-form-sub-content span {
  font-weight: 600;
  color: rgba(29, 93, 155, 0.8);
}

.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-wrapper .signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin: 100px 0;
}
.signup-wrapper .signup-form .signup-form-title {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
}
.signup-wrapper .signup-form .signup-form-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 54px 0 40px 0;
  width: inherit;
}
.signup-wrapper .signup-form .signup-form-input-area .signup-form-regex {
  display: block;
  width: inherit;
  height: 15px;
  font-size: 15px;
  color: rgb(255, 73, 73);
}
.signup-wrapper .signup-form .signup-form-input-area .signup-form-email-group,
.signup-wrapper .signup-form .signup-form-input-area .signup-form-code-confirm {
  display: flex;
  gap: 16px;
  width: 480px;
  height: 68px;
}
.signup-wrapper .signup-form .signup-form-input-area .signup-form-email-group .email-certificate-button,
.signup-wrapper .signup-form .signup-form-input-area .signup-form-email-group .code-certificate-button,
.signup-wrapper .signup-form .signup-form-input-area .signup-form-code-confirm .email-certificate-button,
.signup-wrapper .signup-form .signup-form-input-area .signup-form-code-confirm .code-certificate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border-radius: 16px;
  background-color: rgba(29, 93, 155, 0.8);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  width: 132px;
  font-size: 18px;
  white-space: nowrap;
}
.signup-wrapper .signup-form .signup-form-input-area .signup-form-email-group .email-certificate-button:active, .signup-wrapper .signup-form .signup-form-input-area .signup-form-email-group .email-certificate-button:hover,
.signup-wrapper .signup-form .signup-form-input-area .signup-form-email-group .code-certificate-button:active,
.signup-wrapper .signup-form .signup-form-input-area .signup-form-email-group .code-certificate-button:hover,
.signup-wrapper .signup-form .signup-form-input-area .signup-form-code-confirm .email-certificate-button:active,
.signup-wrapper .signup-form .signup-form-input-area .signup-form-code-confirm .email-certificate-button:hover,
.signup-wrapper .signup-form .signup-form-input-area .signup-form-code-confirm .code-certificate-button:active,
.signup-wrapper .signup-form .signup-form-input-area .signup-form-code-confirm .code-certificate-button:hover {
  transform: scale(1.03);
}
.signup-wrapper .signup-form .signup-form-input-area .signup-form-code-confirm-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: inherit;
}
.signup-wrapper .signup-form .signup-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border-radius: 16px;
  background-color: rgba(29, 93, 155, 0.8);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  height: 68px;
}
.signup-wrapper .signup-form .signup-form-button:active, .signup-wrapper .signup-form .signup-form-button:hover {
  transform: scale(1.03);
}
.signup-wrapper .signup-form .signup-form-button:disabled {
  background-color: #dbdbdb;
  color: #000000;
}

.password-reset-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-reset-wrapper .password-reset-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin: 100px 0;
}
.password-reset-wrapper .password-reset-form .password-reset-form-title {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
}
.password-reset-wrapper .password-reset-form .password-reset-form-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 54px 0 40px 0;
  width: inherit;
}
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-regex {
  display: block;
  width: inherit;
  height: 15px;
  font-size: 15px;
  color: rgb(255, 73, 73);
}
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-email-group,
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-code-confirm {
  display: flex;
  gap: 16px;
  width: 480px;
  height: 68px;
}
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-email-group .email-certificate-button,
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-email-group .code-certificate-button,
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-code-confirm .email-certificate-button,
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-code-confirm .code-certificate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border-radius: 16px;
  background-color: rgba(29, 93, 155, 0.8);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  width: 132px;
  font-size: 18px;
  white-space: nowrap;
}
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-email-group .email-certificate-button:active, .password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-email-group .email-certificate-button:hover,
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-email-group .code-certificate-button:active,
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-email-group .code-certificate-button:hover,
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-code-confirm .email-certificate-button:active,
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-code-confirm .email-certificate-button:hover,
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-code-confirm .code-certificate-button:active,
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-code-confirm .code-certificate-button:hover {
  transform: scale(1.03);
}
.password-reset-wrapper .password-reset-form .password-reset-form-input-area .password-reset-form-code-confirm-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: inherit;
}
.password-reset-wrapper .password-reset-form .password-reset-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border-radius: 16px;
  background-color: rgba(29, 93, 155, 0.8);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  height: 68px;
}
.password-reset-wrapper .password-reset-form .password-reset-form-button:active, .password-reset-wrapper .password-reset-form .password-reset-form-button:hover {
  transform: scale(1.03);
}
.password-reset-wrapper .password-reset-form .password-reset-form-button:disabled {
  background-color: #dbdbdb;
  color: #000000;
}

@media (min-width: 1440px) {
  .detail-wrapper {
    width: 1152px;
  }
  .detail-wrapper .detail-left-side {
    width: 64%;
  }
  .detail-wrapper .detail-left-side .detail-content-image-group {
    height: 480px;
  }
  .detail-wrapper .detail-left-side .detail-content-desc {
    font-size: 24px;
  }
  .detail-wrapper .detail-right-side {
    width: 32%;
  }
  .detail-wrapper .detail-right-side .detail-sticky {
    height: 84vh;
  }
  .detail-wrapper .detail-right-side .detail-sticky .button {
    padding: 16px 28px;
  }
  .detail-wrapper .detail-right-side .detail-sticky .button .text {
    font-size: 22px;
  }
}
@media (max-width: 1439px) {
  .detail-wrapper {
    width: 820px;
  }
  .detail-wrapper .detail-left-side {
    width: 64%;
  }
  .detail-wrapper .detail-left-side .detail-content-image-group {
    height: 340px;
  }
  .detail-wrapper .detail-left-side .detail-content-desc {
    font-size: 20px;
  }
  .detail-wrapper .detail-right-side {
    width: 32%;
  }
  .detail-wrapper .detail-right-side .detail-sticky {
    height: 84vh;
  }
  .detail-wrapper .detail-right-side .detail-sticky .button {
    padding: 8px 12px;
  }
  .detail-wrapper .detail-right-side .detail-sticky .button .text {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .detail-wrapper {
    flex-direction: column;
    width: 80%;
  }
  .detail-wrapper .detail-left-side,
  .detail-wrapper .detail-right-side {
    width: 100%;
  }
  .detail-wrapper .detail-left-side .detail-content-image-group,
  .detail-wrapper .detail-right-side .detail-content-image-group {
    height: 340px;
  }
  .detail-wrapper .detail-left-side .detail-sticky,
  .detail-wrapper .detail-right-side .detail-sticky {
    height: 100vh;
  }
}
.detail-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  height: 100%;
}
.detail-wrapper .detail-left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  height: 100%;
}
.detail-wrapper .detail-left-side .detail-content-area {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-image-group {
  position: relative;
  width: 100%;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-image-group .detail-content-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-image-group .detail-content-category {
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  background-color: rgba(29, 93, 155, 0.8);
  color: white;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-title-group {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-title-group .detail-content-title {
  display: block;
  width: 70%;
  font-size: 36px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-title-group .detail-content-button-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-title-group .detail-content-button-group .button {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-title-group .detail-content-button-group .button .text {
  font-size: 16px;
  color: #6e6e6e;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-info-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 52px;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-info-group .detail-content-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-info-group .detail-content-info .text {
  font-size: 24px;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-desc {
  color: #292929;
  white-space: pre-wrap;
  line-height: 1.2;
  font-size: 20px;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-tag-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-tag-group .detail-content-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 16px;
  color: #292929;
}
.detail-wrapper .detail-left-side .detail-content-area .detail-content-hits {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  width: 100%;
  border-top: 1px solid #dbdbdb;
  font-size: 12px;
  color: #6e6e6e;
}
.detail-wrapper .detail-left-side .detail-question-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-bottom: 64px;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-button {
  height: 100%;
  font-size: 14px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-button:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-button.active {
  color: #1d5d9b;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-button.private {
  color: #878787;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-title {
  font-size: 28px;
  font-weight: bold;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container {
  display: flex;
  flex-direction: column;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container .detail-question-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container .detail-question-group .detail-question-content-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container .detail-question-group .detail-question-content-group .detail-question-user-group {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 20px;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container .detail-question-group .detail-question-content-group .detail-question-user-group .detail-question-user-image {
  width: 20px;
  height: 20px;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container .detail-question-group .detail-question-content-group .detail-question-user-group .detail-question-user-name {
  font-size: 14px;
  color: #474747;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container .detail-question-group .detail-question-content-group .detail-question-desc-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 20px 12px;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container .detail-question-group .detail-question-content-group .detail-question-desc-group .detail-question-desc {
  font-size: 16px;
  resize: none;
  white-space: pre-wrap;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container .detail-question-group .detail-question-content-group .detail-question-desc-group .detail-question-desc.private {
  color: #878787;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container .detail-question-group .detail-question-comment-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 12px 20px;
  background-color: #f2f2f2;
  transition: 0.2s;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container .detail-question-group .detail-question-comment-group .detail-question-textarea {
  width: 80%;
  font-size: 16px;
  resize: none;
  white-space: pre-wrap;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-container .detail-question-group .detail-question-comment-group .comment-success-button {
  padding: 4px 6px;
  background-color: rgba(29, 93, 155, 0.8);
  border: 0;
  border-radius: 4px;
  color: white;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-input-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  border: 1px solid #dbdbdb;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-input-container .detail-question-input {
  width: 80%;
  height: 80px;
  font-size: 16px;
  resize: none;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-input-container .detail-question-select-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-input-container .detail-question-select-group .detail-question-checkbox {
  display: flex;
  align-items: center;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-input-container .detail-question-select-group .detail-question-checkbox label {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 4px;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-input-container .detail-question-select-group .detail-question-checkbox input {
  font-size: 14px;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-input-container .detail-question-select-group .detail-question-apply-button {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #1d5d9b;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
}
.detail-wrapper .detail-left-side .detail-question-area .detail-question-input-container .detail-question-select-group .detail-question-apply-button:active, .detail-wrapper .detail-left-side .detail-question-area .detail-question-input-container .detail-question-select-group .detail-question-apply-button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
.detail-wrapper .detail-right-side {
  height: 100vh;
}
.detail-wrapper .detail-right-side .detail-sticky {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 0;
  width: 100%;
}
.detail-wrapper .detail-right-side .detail-content-apply-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 16px;
  background-color: white;
  overflow: hidden;
}
.detail-wrapper .detail-right-side .detail-content-apply-group .detail-content-map-group {
  width: 100%;
  height: 60%;
}
.detail-wrapper .detail-right-side .detail-content-apply-group .detail-content-map-group .detail-content-map {
  width: 100%;
  height: 100%;
}
.detail-wrapper .detail-right-side .detail-content-apply-group .detail-content-location-group {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 4px;
  width: 90%;
}
.detail-wrapper .detail-right-side .detail-content-apply-group .detail-content-location-group .location-icon {
  width: 2.25rem;
  height: 2.25rem;
}
.detail-wrapper .detail-right-side .detail-content-apply-group .detail-content-location-group .detail-content-location {
  font-size: 1.8rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.detail-wrapper .detail-right-side .detail-content-apply-group .detail-content-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  width: 90%;
  margin-top: 1rem;
}
.detail-wrapper .detail-right-side .detail-content-apply-group .detail-content-button-group .button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 1px solid rgba(29, 93, 155, 0.8);
  border-radius: 12px;
  font-size: 1.25rem;
  cursor: pointer;
}
.detail-wrapper .detail-right-side .detail-content-apply-group .detail-content-button-group .button .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.detail-wrapper .detail-right-side .detail-content-apply-group .apply-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border-radius: 16px;
  background-color: rgba(29, 93, 155, 0.8);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: end;
  justify-content: center;
  align-self: center;
  width: 90%;
  height: 4rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  background-color: #1d5d9b;
  font-size: 1.475rem;
  font-weight: bold;
}
.detail-wrapper .detail-right-side .detail-content-apply-group .apply-button:active, .detail-wrapper .detail-right-side .detail-content-apply-group .apply-button:hover {
  transform: scale(1.03);
}
.detail-wrapper .detail-right-side .detail-content-user-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
  height: 8rem;
  border: 1px solid #dbdbdb;
  border-radius: 16px;
  background-color: white;
}
.detail-wrapper .detail-right-side .detail-content-user-group .detail-content-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.detail-wrapper .detail-right-side .detail-content-user-group .detail-content-user .user-image {
  width: 2.1rem;
  height: 2.1rem;
}
.detail-wrapper .detail-right-side .detail-content-user-group .detail-content-user .user-name {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.detail-wrapper .detail-right-side .detail-content-user-group .detail-content-user-info {
  display: block;
  width: 100%;
  padding-left: 4px;
  font-size: 1.375rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.MainLayout {
  width: 80%;
  margin: 0 auto 50px auto;
  min-height: 60vh;
  z-index: -1;
}

.mainContentsLayout {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.mainContentsLayout .mainContents {
  width: 23%;
  height: 240px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 40px auto 30px auto;
}
.mainContentsLayout .mainContents img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.mainContentsLayout .mainContents .ContentsTextBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 50%;
}
.mainContentsLayout .mainContents .ContentsTextBox .contentsDateBox {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.mainContentsLayout .mainContents .ContentsTextBox .contentsDateBox .contentsTagBox {
  width: 70%;
  display: flex;
}
.mainContentsLayout .mainContents .ContentsTextBox .contentsDateBox .contentsTagBox .contentsTag {
  padding: 5px 10px;
  margin: 0px 5px;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}
.mainContentsLayout .mainContents .ContentsTextBox .contentsDateBox .imgBox {
  width: 30%;
  text-align: end;
}
.mainContentsLayout .mainContents .ContentsTextBox .contentsDateBox .imgBox img {
  margin-right: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.mainContentsLayout .mainContents .ContentsTextBox .contentsData .dataTitle {
  margin: 10px 5px 5px 5px;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainContentsLayout .mainContents .ContentsTextBox .contentsData .dataLocation img {
  margin: auto 5px;
  width: 20px;
  height: 20px;
}
.mainContentsLayout .mainContents .ContentsTextBox .contentsData .dataLocation span {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  top: -4px;
  margin-left: 3px;
}
.mainContentsLayout .mainContents .ContentsTextBox .contentsData .dataPeople img {
  margin: auto 5px;
  width: 20px;
  height: 20px;
}
.mainContentsLayout .mainContents .ContentsTextBox .contentsData .dataPeople span {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  top: -4px;
  margin-left: 3px;
}/*# sourceMappingURL=main.css.map */