* {
    font-family: Pretendard, 'Noto Sans KR', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input {
    margin: 0;
    padding: 0;
    background-color: inherit;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

.common-input-wrapper {
    width: 100%;
    height: 68px;
    border: 1px solid rgba(29, 93, 155, 0.8);
    border-radius: 16px;
    transition: 0.3s;
    overflow: hidden;
}
.common-input-wrapper:has(.common-input:focus) {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.common-input-wrapper .common-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;
    width: inherit;
    height: inherit;
    font-size: 16px;
    color: #292929;
    box-sizing: border-box;
    overflow: hidden;
}
.common-input-wrapper .common-input::placeholder {
    color: #6e6e6e;
}
.common-input-wrapper .common-input:disabled {
    background-color: #f2f2f2;
}

.common-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 172px;
}

.common-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    border-radius: 16px;
    background-color: rgba(29, 93, 155, 0.8);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.common-button:active {
    transform: scale(1.03);
}

.signin-form .common-button {
    padding: 18px 56px;
    font-size: 22px;
    border-radius: 12px;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.modal-background .modal-container {
    position: fixed;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
}
.modal-background .modal-container .modal-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 110px;
    width: 100%;
    height: 100%;
}
.modal-background .modal-container .modal-wrapper .modal-contents {
    margin-top: 100px;
    width: inherit;
    text-align: center;
    font-size: 20px;
}
.modal-background .modal-container .modal-wrapper .modal-confirm-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    border-radius: 16px;
    background-color: rgba(29, 93, 155, 0.8);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    padding: 12px 28px;
    width: 50%;
    height: 48px;
    border-radius: 12px;
}
.modal-background .modal-container .modal-wrapper .modal-confirm-button:active {
    transform: scale(1.03);
}

.code-confirm-message {
    display: block;
    width: inherit;
    height: 15px;
    font-size: 15px;
    color: #000000;
}
.code-confirm-message.success {
    color: #1d5d9b;
}
.code-confirm-message.fail {
    color: rgb(255, 73, 73);
}

.signin-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.signin-wrapper .signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    margin: 100px 0;
}
.signin-wrapper .signin-form .signin-form-title {
    font-size: 40px;
    font-weight: 500;
    color: #000000;
}
.signin-wrapper .signin-form .signin-form-input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 54px 0 40px 0;
    width: inherit;
}
.signin-wrapper .signin-form .signin-form-input-area .signin-form-regex {
    display: block;
    width: inherit;
    height: 15px;
    font-size: 15px;
    color: rgb(255, 73, 73);
}
.signin-wrapper .signin-form .signin-form-button-area {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: inherit;
}
.signin-wrapper
    .signin-form
    .signin-form-button-area
    .signin-form-kakao-button {
    height: 68px;
    border-radius: 12px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
}
.signin-wrapper
    .signin-form
    .signin-form-button-area
    .signin-form-kakao-button:active {
    transform: scale(1.03);
}
.signin-wrapper .signin-form .signin-form-sub-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
    width: 100%;
}
.signin-wrapper .signin-form .signin-form-sub-area .signin-form-sub-content {
    font-size: 18px;
    color: #878787;
    cursor: pointer;
}
.signin-wrapper
    .signin-form
    .signin-form-sub-area
    .signin-form-sub-content
    span {
    font-weight: 600;
    color: rgba(29, 93, 155, 0.8);
} /*# sourceMappingURL=main.css.map */
