@mixin FooterText {
    margin: 0;
    min-width: 0;
    color: #999999;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 20px 5px 20px;
}
.footer {
    width: 100%;
    border-top: 1px solid #dadce0;
}

.footerLayout {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;

    flex-direction: column;
    margin: 10px auto;
    padding-top: 10px;
    width: 80%;
    .footerContent {
        margin-left: 10px;
        display: flex;
        margin: 0 auto;
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        justify-content: flex-start;
        width: 100%;
        .footerTilte {
            box-sizing: border-box;
            min-width: 0;
            cursor: pointer;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-size: 14px;
            margin-right: 20px;
            margin-left: 20px;
            color: #828282;
            font-weight: bold;
            padding: 10px 0;
        }
    }
    .footerMain {
        @include FooterText;
    }
    .footerEtc {
        @include FooterText;
    }
}
