.password-reset-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .password-reset-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 480px;
        margin: 100px 0;

        .password-reset-form-title {
            font-size: 40px;
            font-weight: 500;
            color: $color-black;
        }

        .password-reset-form-input-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            margin: 54px 0 40px 0;
            width: inherit;

            .password-reset-form-regex {
                display: block;
                width: inherit;
                height: 15px;
                font-size: 15px;
                color: rgb(255, 73, 73);
            }

            .password-reset-form-email-group,
            .password-reset-form-code-confirm {
                display: flex;
                gap: 16px;
                width: 480px;
                height: 68px;

                .email-certificate-button,
                .code-certificate-button {
                    @include button-blue;
                    width: 132px;
                    font-size: 18px;
                    white-space: nowrap;
                }
            }

            .password-reset-form-code-confirm-group {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: inherit;
            }
        }

        .password-reset-form-button {
            @include button-blue;
            height: 68px;

            &:disabled {
                background-color: $color-gray-200;
                color: $color-black;
            }
        }
    }
}
