.paginationNev {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 16px;
}
.paginationButton {
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    background: #fff;
    color: #333;
    font-size: 1rem;

    &:hover {
        background: #cdc6ee;
        cursor: pointer;
        transform: translateY(-2px);
    }

    &[disabled] {
        background: grey;
        cursor: revert;
        transform: revert;
    }

    &[aria-current] {
        background: #457cc7;
        color: #fff;
        font-weight: bold;
        cursor: revert;
        transform: revert;
    }
}
