.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    margin-top: 100px;

    .signin-form-title {
        font-size: 40px;
        font-weight: 500;
        color: $color-black;
    }

    .signin-form-input-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 54px 0 40px 0;
        width: inherit;

        .signin-form-regex {
            display: block;
            width: inherit;
            height: 15px;
            font-size: 15px;
            color: rgb(255, 73, 73);
        }
    }

    .signin-form-button-area {
        display: flex;
        justify-content: space-between;
        width: inherit;

        .signin-form-kakao-button {
            height: 68px;
            border-radius: 12px;
            box-shadow: 0 0 4px 0 rgba(#000000, 10%);
            transition: 0.3s;
            cursor: pointer;

            &:active {
                transform: scale(1.03);
            }
        }
    }

    .signin-form-sub-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-top: 40px;
        width: 100%;

        .signin-form-sub-content {
            font-size: 18px;
            color: $color-gray-500;
            cursor: pointer;

            span {
                font-weight: 600;
                color: $color-blue;
            }
        }
    }
}
