* {
    font-family: Pretendard, 'Noto Sans KR', sans-serif;
}

@mixin blue-fill-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    border-radius: 16px;
    background-color: $color-blue;
    box-shadow: 0 0 4px 0 rgba(#000000, 10%);
    font-size: 18px;
    color: white;
    transition: 0.3s;
    cursor: pointer;

    &:active,
    &:hover {
        transform: scale(1.03);
    }
}

@mixin wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin question-button {
    // width: 58px;
    height: 100%;
    font-size: 14px;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        text-underline-position: under;
    }
}

.mypage-user {
    display: none;
}

.hidden {
    position: absolute;
    left: 0;
    right: 0;
    clip: rect(0, 0, 0, 0);
}
