* {
    font-family: Pretendard, 'Noto Sans KR', sans-serif;
}

@mixin button-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    border-radius: 16px;
    background-color: $color-blue;
    box-shadow: 0 0 4px 0 rgba(#000000, 10%);
    font-size: 18px;
    color: white;
    transition: 0.3s;
    cursor: pointer;

    &:active {
        transform: scale(1.03);
    }
}
